<h1>Contact</h1>
<%= image_tag "contactus.jpg"%>
<p>
If you have any ideas regarding iSmile Consulting & Solutions, please let us know!
</p><p>
If you have interest in our services, please let us know!
</p><p>
<blockquote>
For Service Quality Consulting: <a href="mailto:service.quality@ismile-consulting.com">service.quality@ismile-consulting.com</a>
<br />For Career Development Consulting: <a href="mailto:career.development@ismile-consulting.com">career.development@ismile-consulting.com</a>
<br />For Training Consulting: <a href="mailto:training@ismile-consulting.com">training@ismile-consulting.com</a>
<br />For Marketing Consulting: <a href="mailto:marketing@ismile-consulting.com">marketing@ismile-consulting.com</a>
<br />For Other Issues (Taskforce/HR Inquiry/General Inquiry): <a href="mailto:inquiry@ismile-consulting.com">inquiry@ismile-consulting.com</a>
</blockquote>
</p>
<p>
To optimize our services, if you would like to contact our management team directly, you are always welcome to contact:
</p><p>
<div class="namecard">
<a href="http://www.linkedin.com/profile/view?id=95943623"><strong>Victor Zhu</strong></a> | Executive Partner<br /><br />
m - 853.6211.5183<br />
m - 86.153.4481.5183<br />
e  - <a href="mailto:victor.zhu@ismile-consulting.com">victor.zhu@ismile-consulting.com</a>
</div></p>
iSmile Consulting & Solutions<br />
Suzhou Office: 10/F Guomao Building, West Baodai Road, Wuzhong District, Suzhou, China<br />
Hong Kong Office To Be Operated Soon...
