<h1>Marketing</h1>
<div class='subtitle'>Marketing Planning</div>
	<div class='sub-subtitle'>Market Segmentations & VOC (Voice of Customers)</div>
	
	<ul>
		<li>Mystery Shopping Program Research </li>
		<li>Market Survey （Beginning Period）</li>
	</ul>
	
	<div class='sub-subtitle'>Quantitative & Qualitative Research</div>
	<ul>
		<li>Data Analysis of Mystery Shopping & Survey</li>
	</ul>
	
	<div class='sub-subtitle'>Competitor Promotion History Research</div>
	<ul>
		<li>Normal Promotion History during past one year</li>
		<li>Special Period/Product Promotion (eg. Anniversary/Moon-cake) during past two years</li>
		<li>Normal Promotion History during past one year</li>
	</ul>
	
	<div class='sub-subtitle'>Promotion Designing & Planning</div>
	<ul>
		<li>Long-Term Goal & Planning: Goals and Planning in more than 1 year </li>
		<li>short-Term Goal & Planning: Goals and Planning in less than 1 year</li>
		<li>Seasonal Planning: Special Period /Product Promotion</li>
		<li>Temporary Planning: Often quick short-term promotion planning in reaction to competitors' special promotion</li>
	</ul>
	<div class='sub-subtitle'>Competitor Promotion Track & Analysis</div>
	<div class='sub-subtitle'>Promotion Status Summary Maintenance & Analysis</div>

<div class='subtitle'>Marketing Communications</div>
<div class='sub-subtitle'>Communication Material, Media Release & Advertisement under Brand Standardss</div>
<div class='subtitle'>Online Digital Marketing</div>
	<div class='sub-subtitle'>Social Media Platform Establishment & Maintenance</div>
	<ul>
		<li>Weibo: Creating official account and Maintaining (Product Promotion, Brand Promotion, Reply to Comments etc)</li>
		<li>Other Platform(Renren, Douban, Dianping etc): Reply to Comments, Product Promotion, Brand Promotion etc</li>
	</ul>
	<div class='sub-subtitle'>Online Marketing & Distribution</div>
	<ul>
		<li>Online Special Promotion: Designing promotion for online distribution in collaboration with Marketing Planning</li>
	</ul>

<div class='subtitle'>Public Relations</div>
	<div class='sub-subtitle'>Media Relationship Management</div>
<ul><li>Handling Media Release and Public Exposure</li></ul>
	<div class='sub-subtitle'>Crisis Public Relations</div>
	<div class='sub-subtitle'>Social Responsibility/ Event Sponsorship</div>
<ul><li>Evaluating and analyzing Charity Event/Sponsorship participation</li></ul>

