<h1>The iSmile Team</h1>

<p>Young, Powerful and Potential are the three main characters of the iSmile Team, with the theme of “initiative + Smile”. The team is always here with you with the sincere smile to serve you, equipped with strong educational background and industry experience, plus the iSmile innovation.
</p>
<p>
Here are some of our core members:
</p>
<div class='subtitle' style="text-decoration: underline; color: black">Victor Zhu</div>
<div class='sub-subtitle'> Executive Partner, BSc (Based in Suzhou, Macau & Hong Kong)</div>
<p>Educated with hotel management, Victor has been wildly involved in industries across hotels, consultancy, media and IT. Victor has experience in both operational and administrative functions for international hotel brands like Hyatt and Starwood, for both operating and pre-opening properties, which helps strengthen his qualification in running service quality consulting and training consulting services. Victor has also been with several consultancies in marketing and human resources, managing projects and operations for leading brands in different industries, like Esprit, Louis Vuitton, Swatch Group, L’Oreal Group etc.</p>
<p>Specialties:  Hotel Operations, Service Quality Management, Training & Development, Marketing, Customer Service & Relationship Management…</p>
<p>In Charge: Full Consulting Services & Company General Administration</p>

<div class='subtitle' style="text-decoration: underline; color: black">Daniel Li</div>
<div class='sub-subtitle'> Director of Business Development & Client Relations, MA (Based in Hong Kong)</div>
<p>As a professional in media and public relations, Daniel also serves Phoenix Satellite TV as well as individual column writer for many newspaper and magazines.</p>
<p>Specialties: Public Relations, Crisis Management, Marketing Communications…</p>
<p>In Charge: Business Development, Client Relation Management & Marketing Consulting</p>

<div class='subtitle' style="text-decoration: underline; color: black">Fiona Yang</div>
<div class='sub-subtitle'> Invited Senior Researcher, Ph.D (Based in Macau)</div>
<p>With education in two world’s famous universities, Peking University and Hong Kong University of Science and Technology, Fiona is specialized in researches and logistics management. Fiona has been appointed to take charge in projects for Shenzhen Government and Macau SAR Government.</p>
<p>Specialties: Research Methods (Quantitative & Qualitative)</p>
<p>In Charge: Research projects across all consulting services</p>

<div class='subtitle' style="text-decoration: underline; color: black">Yicheng Ye</div>
<div class='sub-subtitle'> Specialist – Information Technology & Systems, BSc (Based in Suzhou & DC)</div>
<p>Yicheng is pursuing her double degree in Computer Science and Math in University of Maryland, College Park and is familiar with general IT issues.</p>
<p>In Charge: SaaS Consulting & IT related projects across all consulting services</p>

<div class='subtitle' style="text-decoration: underline; color: black">Alexa Chen</div>
<div class='sub-subtitle'> Consultant – Marketing, MSc (Based in Hong Kong)</div>
<p>Alexa has her Master degree in e-commerce in Hong Kong Polytechnic University and she is also experienced in different marketing and service quality projects.</p>

<div class='subtitle' style="text-decoration: underline; color: black">Li Jin</div>
<div class='sub-subtitle'> Consultant – Service Quality, Bsc (Based in Nanjing)</div>
<div class='subtitle' style="text-decoration: underline; color: black">Max Mai</div>
<div class='sub-subtitle'> Consultant – Marketing, Bsc (Based in Shanghai)</div>
<div class='subtitle' style="text-decoration: underline; color: black">Atlanc Li</div>
<div class='sub-subtitle'> Assistant Consultant – Career Development (Based in Switzerland)</div>
<br/>
<p>Besides, iSmile has a large pool of mystery shoppers for our service quality consulting; a number of professional independent trainers for our training consulting; a connected network of marketers and media for our marketing consulting; and a global source center for our career development consulting. </p>


