/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
/* reset */
body, div, dl, dt, dd, ul, ol, li{padding:0; margin:0;}
img, button, input{border:0;}
input, label, select, option, textarea, button, legend{font:12px/18px Verdana, Simsun, Helvetica, Arial, sans-serif;}
table{border-collapse:collapse; border-spacing:0; font:12px/18px Verdana, Simsun, Helvetica, Arial, sans-serif;}
ul{list-style:none;}
body{background-color:#222222;font:12px/18px Verdana, Simsun, Helvetica, Arial, sans-serif; color:#333333; text-align:left;}
fieldset{ margin:14px; padding:14px; float:left}
/* end of reset */

body {
}

/* Round corners */
.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.with-border{
	border: solid 1px lightgrey;
}

.header #logo {
	float: left;	
}

/* top nav */
.header .top-nav {
	float: right;
	margin: 10px 50px 0 0;
	padding: 0;
}
.header .top-nav li{
	display: inline-block;
	width: auto;
	margin: 0;
}
.header .top-nav li{
	*display: inline;
}

.header .top-nav li a {
	background: darkred;
	color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.header .top-nav li a:hover {
	background: #803939;
	color: white;
}

/* site navigation */
.header ul.site-nav { 	
	clear: both;
	background: #eee;
	text-align: center;
}
.header ul li {
	display: inline-block;	
	margin: 0 30px;
}
.header ul li{
	*display: inline;
}
.header ul li ul { 
	padding: 0;
	position:absolute;
	display: none;
	text-align: left;
}
.header ul li ul li {
	margin: 0 0 0 0;
	display: block;
	position: relative;
	*position: absolute;
	z-index: 9999 !important;
}
.header ul li:hover ul, ul li.hover ul {
	display: block;
}
.header ul li a {
	display:block;
	padding: 3px 10px;
	margin-right:1px;
	text-decoration: none;
	color: #777;
	background:#eee;
}
.header ul li a:hover {
	background-color:#f4f4f4;
}	

/* container */
.container {
	width: 1000px;	
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	zoom: 1;
}
.mainbody {
	clear: both;
}

/* main */
.main {
	float:left;
	/* background-color: black; */
	width: 62%;	
	padding: 0 15px 20px 40px;
	border-right: solid 1px lightgrey;
}

.main .subtitle{
	font-size: 120% !important;
	color: darkred;
	padding: 10px 0 0 0;	
	font-weight: bold;
}
.main .sub-subtitle{
	color: grey;
	padding: 2px 0;	
	margin: 10px 0 0 0;
	/* font-weight: bold; */
}
.main ul {
	list-style: none;
	margin: 0 0 0 0;
}
.main p{
	margin: 5px 0 0 0;	
}
.main pre{
	font:12px/18px Verdana, Simsun, Helvetica, Arial, sans-serif;
}
.main .namecard {
	border: solid 1px grey;
	padding: 10px;
	margin: 0 auto;
	width: 300px;
}

/* slide */
.slider3, .slider3 * {margin:0;padding:0;}
.slider3 {width:600px;height:250px;overflow:hidden;position:relative}
.slider3_nav {position:absolute;right:5px;bottom:5px;}
.slider3_nav li {float: left;color: #09F;text-align: center;line-height: 16px;width: 16px;height: 16px;font-family: Arial;font-size: 12px;cursor: pointer;overflow: hidden;margin: 3px 1px;border: 2px solid #09F;background-color: #fff;}
.slider3_nav li.on {color: #fff;line-height: 21px;width: 21px;height: 21px;font-size: 16px;margin: 0 1px;border: 0;background-color:#09F;font-weight: bold;}

/* sidebar */
.side {
	float:right;
	padding: 65px 10px 0 10px;
}
.side div{
	margin-bottom: 10px;
}
.side #photodiv {
	width: 300px;
	height: 200px;	
}
.side .social-links {
	margin: 20px 0 0 0;
}
.side .social-links img {
	margin: 2px;	
}

/* footer */
.footer {
	clear: both;
	height: 100px;	
}

/* Styles for order form */
.ismile_form fieldset {
	width: 550px;
	background: #eee;
}
.ismile_form legend {
	color: white;
	background: darkred;
	font-family: sans-serif;
	padding: 0.2em 1em;
}
.ismile_form label {
	width: 8em;
	float: left;
	text-align: left;
	padding-top: 0.2em;
	margin-right: 0.1em;
	display: block;
}
.ismile_form select, .ismile_form textarea, .ismile_form input {
	margin-left: 0.5em;
	background-color: white;
}

.ismile_form div {
	margin: 2em 0;	
}

#notice {
	color: #000;
	border: 2px solid darkred;
	padding: 1em;
	margin: 2em 0 0 0;
	background-color: #f0f0f0;
	font: normal smaller sans-serif;
}
#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin: 0 0 20px 15px;
	background-color: #f0f0f0;
}
#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}
#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}
#error_explanation ul li {
	font-size: 12px;
	list-style: square;
	margin: 10px 0 0 15px;
}
